@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
  /* background-color: #11121A; */
  background-color: #6d37da  ;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
